# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetic Operators
print(3+2)

print(3-2)

print(3*2)

print(3/2)

print(3//2)

print(3%2)

print(3**2)

5
1
6
1.5
1
1
9

In [ ]:
# Relational Operators
print(3 > 2)

print(3 < 2)

print(3 == 2)

print(3 != 2)

print(4 <= 4)

True
False
False
True
True

In [ ]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [ ]:
# Bitwise Operators
print(2 & 3)

#  10 --> 2
#  11 --> 3
# -----
#  10  --> 2

2

In [ ]:
print(2 | 3)
#  10 --> 2
#  11 --> 3
# -----
#  11  --> 3

3

In [ ]:
print(2 ^ 3)
#  10 --> 2
#  11 --> 3
# -----
#  01  --> 1

1

In [ ]:
print(~ 2) # Bitwise Not

-3

In [ ]:
print(4 >> 2) # Bitwise left operator

1

In [ ]:
print(5 << 2) # Bitwise right operator

20

In [ ]:
# Assignment Operators
a = 2
print(a)
a += 3 # a= a+3
print(a)

2
5

In [ ]:
# Membership Operators

print("s" in "saurav")
print("S" in "saurav")
print("r" not in "sam")
print(1 in [1,2,3,4])

True
False
True
True

In [ ]:
# Program - Find the sum of 3 digit number entered by the user

n = int(input("Enter Three digit number:"))
s = 0
d = 0
while n!=0:
  d = n%10
  s = s+d
  n = n//10

print("Sum of three digit number:",s)

Enter Three digit number:666
Sum of three digit number: 18

### If-else in Python

In [ ]:
# login program and indentation
# email -> saurav@gmail.com
# password -> 1234


email = input("Enter Email:")
passw = input("Enter Password:")

if email == "saurav@gmail.com" and passw == "1234":
  print("Welcome")
else:
  print("Wrong email/password")

Enter Email:saurav@gmail.com
Enter Password:1234
Welcome

In [ ]:
email = input("Enter Email:")
passw = input("Enter Password:")

if email == "saurav@gmail.com" and passw == "1234":
  print("Welcome")
elif email == "saurav@gmail.com" and passw != "1234":
  print("Incorrect Password")
  passw = input("Enter Password again:")
  if email == "saurav@gmail.com" and passw == "1234":
    print("Welcome Finally")
  else:
    print("Wrong Password")
else:
  print("Not correct")

Enter Email:saurav@gmail.com
Enter Password:1234
Welcome

In [ ]:
# 1. Find the min of 3 given number

a = int(input("Enter the 1st number:"))
b = int(input("Enter the 2nd number:"))
c = int(input("Enter the 3rd number:"))

if a<b and a<c:
  print("Smallest is",a)
elif b<c:
  print("Smallest is",b)
else:
  print("Smallest is",c)

Enter the 1st number:2
Enter the 2nd number:5
Enter the 3rd number:1
Smallest is 1

In [ ]:
# 2. Menu driven calculator

print("************** Calculator ******************")
num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))

op = input("""
Enter the operation you want to perform:
Press 1 for addition
Press 2 for subtraction
Press 3 for multiplication
Press 4 for division
""")

if op == "1":
  print("Sum:",num1+num2)
elif op == "2":
  print("Sub:",num1-num2)
elif op == "3":
  print("Multiply:",num1*num2)
elif op == "4":
  print("Divide:",num1/num2)
else:
  print("Wrong option")

************** Calculator ******************
Enter 1st number:12
Enter 2nd number:2

Enter the operation you want to perform:
Press 1 for addition
Press 2 for subtraction
Press 3 for multiplication
Press 4 for division
3
Multiply: 24

### Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
# math
import math

print(math.sqrt(4))
print(math.pow(4,2))
print(math.ceil(3.2))
print(math.factorial(3))
print(math.floor(5.7))

2.0
16.0
4
6
5

In [ ]:
# keywords

import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random

import random

print(random.randint(1,100))

28

In [ ]:
# datetime

import datetime

print(datetime.datetime.now())

2023-02-07 04:09:13.090909

In [ ]:
# help("modules") # To see all the modules

### Loops in Python

- Need for loops
- While Loop
- For Loop

In [ ]:
# program to print the table

print("************* Multiplication Table ***********************")
num1 = int(input("Enter the number:"))
i = 1
while i <= 10:
  print(f"{num1} X {i} = {num1 * i}")
  i+=1

************* Multiplication Table ***********************
Enter the number:11
11 X 1 = 11
11 X 2 = 22
11 X 3 = 33
11 X 4 = 44
11 X 5 = 55
11 X 6 = 66
11 X 7 = 77
11 X 8 = 88
11 X 9 = 99
11 X 10 = 110

In [ ]:
# while loop with else [If while is successfully executed then else will be executed]

x = 1

while x<3:
  print(x)
  x+=1
else:
  print("Limit crossed")

1
2
Limit crossed

In [ ]:
# Guessing game

# generate a random integer between 1 and 100


jackpot = random.randint(1,100)

guess_num = int(input("Enter a number:"))
count = 1
while guess_num!=jackpot:

  if guess_num > jackpot:
    print("Guess lower")
  else:
    print("Guess higher")
  guess_num = int(input("Enter a number:"))
  count += 1
else:
  print("Correct Guess")
  print("Total Attempts",count)

Enter a number:10
Guess higher
Enter a number:20
Guess higher
Enter a number:30
Guess higher
Enter a number:40
Guess lower
Enter a number:39
Guess lower
Enter a number:38
Guess lower
Enter a number:37
Guess lower
Enter a number:36
Guess lower
Enter a number:35
Guess lower
Enter a number:34
Guess lower
Enter a number:33
Guess lower
Enter a number:32
Correct Guess
Total Attempts 12

In [ ]:
# While loop example ->
# Program ->
# Program -> keep accepting numbers from users till he/she enters a 0 and then find the avg

In [ ]:
# Program to sum of all digits of a given number

num = int(input("Enter the 3 digit number:"))
s = 0
d = 0
while num!=0:
  d = num%10
  s = s+d
  num = num//10
print("Sum",s)

Enter the 3 digit number:123
Sum 6

In [ ]:
# Program to keep accepting numbers from users till he/she enters a 0 and then find the avg


avg = 0
sum = 0
num = int(input("Enter the num:"))
count = 1
while num!=0:
  sum = sum + num
  avg = sum/count
  num = int(input("Enter the num:"))
  count +=1


print(avg)

Enter the num:1
Enter the num:2
Enter the num:3
Enter the num:0
2.0

In [ ]:
# for loop

for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(1,11,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in "Delhi":
  print(i)

D
e
l
h
i

In [ ]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

In [ ]:
for i in (1,2,3,4,5):
  print(i)

1
2
3
4
5

In [ ]:
for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

### Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year. You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
pop = 10000

for i in range(10,0,-1):
  print(i,pop)
  pop = pop/1.1

10 10000
9 9090.90909090909
8 8264.462809917353
7 7513.148009015775
6 6830.134553650703
5 6209.213230591548
4 5644.739300537771
3 5131.5811823070635
2 4665.07380209733
1 4240.976183724845

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input("Enter the nth value:"))
fact = 1
sum = 0
for i in range(1,n+1):
  fact = fact * i
  sum = sum + i/fact
print(sum)

Enter the nth value:2
2.0

### Nested Loops

In [ ]:
# Example unique pairs

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
n = int(input("Enter the number of *:"))
for i in range(n+1):
  for j in range(i):
    print("*",end="")
  print()

Enter the number of *:5

*
**
***
****
*****

### Pattern 2

1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
n = int(input("Enter the value of n:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  for k in range(i-1,0,-1):
    print(k,end="")
  print()

Enter the value of n:4
1
121
12321
1234321

# Loop Control Statement

- Break
- Continue
- Pass

In [ ]:
# break

for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
# Example on break

start = int(input("Enter starting number:"))
end = int(input("Enter ending number:"))

for i in range(start,end+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(f"{i} is a prime number.")

Enter starting number:10
Enter ending number:20
11 is a prime number.
13 is a prime number.
17 is a prime number.
19 is a prime number.

In [ ]:
# continue

for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [ ]:
# pass

for i in range(10):
  pass